[rds]
local1 ansible_host=127.0.0.1
ansible_connection=local

[s3]
local2 ansible_host=127.0.0.1
ansible_connection=local

[remove]
local3 ansible_host=127.0.0.1
ansible_connection=local

[ec2]
local4 ansible_host=127.0.0.1
ansible_connection=local

[php]
php1 ansible_host={{ ec2_public_ip }}
